<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student</title>
  </head>
  <body>
    <h1>STUDENT</h1>
    <a href="/">back</a>
    <table>
      <tr>
        <td>Id</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Action</td>
      </tr>
      <%data.forEach(d=>{%>
        <tr>
          <td><%=d.id%></td>
          <td><%=d.first_name%></td>
          <td><%=d.last_name%></td>
          <td><%=d.email%></td>
          <td>
            <a href="/students/edit/<%=d.id%>">Edit</a>
            <a href="/students/delete/<%=d.id%>">Delete</a></td>
        </tr>
      <%})%>
    </table>
  </body>
  <form class="" action="/students" method="post">
    <input type="string" name="first_name" placeholder="Input Your First Name">
    <input type="string" name="last_name" placeholder="Input Your Last Name">
    <input type="string" name="email" placeholder="Input Your Email">
    <input type="submit" value="submit">
  </form>

</html>
