<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teacher</title>
  </head>
  <body>
    <h1>Teacher</h1>
    <a href="/">Back</a>
</form>
    <table border="3px">
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <!-- <th>Full Name</th> -->
        <th>Email</th>
        <th>Subject</th>
      </tr>
      <%data.forEach(d=>{%>
        <tr>
          <td><%=d.id%></td>
          <td><%=d.first_name%></td>
          <td><%=d.last_name%></td>
          <!-- <td><%=d.first_name%> <%=d.last_name%></td> -->
          <td><%=d.email%></td>
          <!-- <td><%=d.updateAt%></td> -->
          <td><%=d.Subject.subject_name%></td>
        </tr>
    <%  })%>
    <form class="" action="/teachers" method="post">
      <input type="string" name="first_name" placeholder="Input Your First Name">
      <input type="string" name="last_name" placeholder="Input Your Last Name">
      <input type="string" name="email" placeholder="Input Your Email">

      <input type="submit" value="submit">
      <label>Subject :</label>
      <select class="" name="SubjectId">
        <%subject.forEach(subject=>{%>
          <option value="<%=subject.id%>"><%=subject.subject_name%></option>
      <%  })%>
      </select>
      <input type="submit"  value="submit">
    </form>
    </table>
  </body>
</html>
